extends layout

block variables
  - var title = "Snooze Diary"

block content
  h2.text-center Snooze Diary

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to Snooze Diary!